## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
population = [1396900000,1345970000,329034000,268074600,209776000,204336000,193392517,166386000,146793744,126577691,126220000,107493000,98665000,98555300,95354000,86727573,82979100,82368000,82003882,66989000,66351817]
country = ["China","India","United States","Indonesia","Brazil","Pakistan","Nigeria","Bangladesh","Russia","Mexico","Japan","Philippines","Ethiopia","Egypt","Vietnam","Democratic Republic of the Congo","Germany","Iran","Turkey","France","Thailand"]

In [3]:
data = {'國家': country,
        '人口': population}
data = pd.DataFrame(data)

In [4]:
data.head()

              國家          人口
0          China  1396900000
1          India  1345970000
2  United States   329034000
3      Indonesia   268074600
4         Brazil   209776000

In [6]:
data[data['人口'] == data['人口'].max()]

      國家          人口
0  China  1396900000